@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eef0f2;
  --background-transparent: #072840ab;
  --background-transparent-darker: #072840ab;
  --foreground: #ffffff;
  --green-200: #36b58029;
  --green-500: #36b580;
  --sky-200: #01a8da17;
  --sky-500: #01a8da;
  --orange-200: #e8a11126;
  --orange-500: #e8a111;
  --slate-200: #01538e26;
  --slate-500: #01538e;
  --slate-800: #07273f;
  --slate-pale: #072840ab;
  --white: #ffffff;
  --font-main: #072840;
  --font-contrast: #ffffff;
  --font-secondary: #8998a4;
  --border: #b8b8b8;
  --shadow-button: 0px 32px 14px -16px #36b5804d;
  --radius-section: 60px;
  --radius-section-mobile: 30px;
  --radius-section-md: 50px;
  --radius-section-sm: 40px;
  --radius-block: 20px;
  --radius-block-sm: 16px;
  --radius-block-mobile: 10px;
}

body {
  color: var(--font-main);
  background: var(--background);
  font-family: var(--font-dmsans), Arial, Helvetica, sans-serif;
}

input {
  border: none;
  outline: none;
}

h1 {
  font-size: 3.125rem;
  line-height: 3.3125rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 3.3125rem;

  @media (max-width: 1024px) {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

h3 {
  font-size: 2.0625rem;
  line-height: 3.0625rem;

  @media (max-width: 1024px) {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 2.8125rem;

  @media (max-width: 1024px) {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

p.xl {
  font-size: 1.6875rem;
  line-height: 2.5625rem;

  @media (max-width: 1024px) {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

p.large {
  font-size: 1.125rem;
  line-height: 1.875rem;

  @media (max-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.4375rem;
  }
}

p.medium {
  font-size: 1.25rem;
  line-height: 2.375rem;
}

p {
  font-size: 1rem;
  line-height: 1.875rem;

  @media (max-width: 1024px) {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  @media (max-width: 768px) {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

p.small {
  font-size: 0.875rem;
  line-height: 1.1875rem;

  @media (max-width: 768px) {
    font-size: 0.6875rem;
    line-height: 0.9375rem;
  }
}

p.smaller {
  font-size: 0.75rem;
  line-height: 1.0625rem;
}

p.smallest {
  font-size: 0.6875rem;
  line-height: 0.875rem;
}
